* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", Sans-serif;
}
* a {
  text-decoration: none;
}
* ul {
  list-style: none;
}

.container {
  width: 1140px;
  margin: auto;
}
.container .header-title {
  color: #df0463;
  font-size: 28px;
  font-weight: 900;
  line-height: 22px;
  text-align: center;
  margin: 38px 0 50px 0;
}

.thha-woo-category-list.thha-presets-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.thha-woo-category-list.thha-presets-1 .thha-woo-category-item {
  width: 100%;
  height: 450px;
  overflow: hidden;
}
.thha-woo-category-list.thha-presets-1 .thha-woo-category-item .thha-woo-category-link {
  position: relative;
}
.thha-woo-category-list.thha-presets-1 .thha-woo-category-item .thha-woo-category-link img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.thha-woo-category-list.thha-presets-1 .thha-woo-category-item .thha-woo-category-link .thha-woo-category-title {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: calc(100% - 40px);
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  margin: 0 20px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.thha-woo-category-list.thha-presets-1 .thha-woo-category-item .thha-woo-category-link .thha-woo-category-title .count {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  background-color: transparent;
  margin-top: 4px;
}
.thha-woo-category-list.thha-presets-1 .thha-woo-category-item .thha-woo-category-link:hover img {
  transform: scale(1.05);
}
.thha-woo-category-list.thha-presets-1 .thha-woo-category-item .thha-woo-category-link:hover .thha-woo-category-title {
  transform: scale(1.1);
  background-color: rgba(223, 4, 99, 0.8);
}
.thha-woo-category-list.thha-presets-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.thha-woo-category-list.thha-presets-2 .thha-woo-category-item {
  display: block;
  width: 100%;
  height: 450px;
  overflow: hidden;
  transition: transform 0.5s ease;
}
.thha-woo-category-list.thha-presets-2 .thha-woo-category-item .thha-woo-category-link {
  position: relative;
}
.thha-woo-category-list.thha-presets-2 .thha-woo-category-item .thha-woo-category-link img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.thha-woo-category-list.thha-presets-2 .thha-woo-category-item .thha-woo-category-link .thha-woo-category-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  pointer-events: none;
  transition: all 0.25s ease-out;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 160px;
  height: 160px;
}
.thha-woo-category-list.thha-presets-2 .thha-woo-category-item .thha-woo-category-link .thha-woo-category-title .count {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  background-color: transparent;
  margin-top: 4px;
}
.thha-woo-category-list.thha-presets-2 .thha-woo-category-item .thha-woo-category-link .thha-woo-category-title::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.35s ease;
  z-index: -1;
}
.thha-woo-category-list.thha-presets-2 .thha-woo-category-item .thha-woo-category-link .thha-woo-category-title.active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.thha-woo-category-list.thha-presets-2 .thha-woo-category-item .thha-woo-category-link .thha-woo-category-title.active::before {
  transform: translate(-50%, -50%) scale(1);
}/*# sourceMappingURL=woo-category-list.css.map */