* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* idias for more changelog presets can be added below 

- https://codepen.io/_arun/pen/QPxbBq
- https://codepen.io/juliepark/pen/WzpRLw
- https://www.mockplus.com/blog/post/login-page-examples

*/
